*{
    margin:0px;
    padding: 0px;
}

p{ line-height: 1em; }

h1, h2, h3, h4{
    color: #990000;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}

h1{
    font-size: 2.0em;
	color: #990000;

}
h2{
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: bold;
    margin-top:10px;
    margin-left: 25px;
    }
a{
	color: #990000;
	text-decoration: none;
}
	a:hover,
	a:active{
	text-decoration: underline;
	}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    width: 100%;
    margin:0;
    background: #eee;
}


#page{
	margin: 0;
}

#wrap{
    background: #d9c6c9;
    height: 80px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#logo{
    margin-left: 1%;
	width: 35%;
	margin-top: 50px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	display: inline-block;
}

#navBar{
	margin-right: 1%;
    margin-top: 50px;
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
    #navBar ul li{
        display: inline-block;
        height: 50px;
    }
	#navBar ul li a{
	    text-decoration: none;
		padding: 15px;
		background: #666;
		font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		color: white;
		transition: all 0.3s ease;
    }
	#navBar ul li a:hover{
		background-color: grey;
		color: black;
		box-shadow: 0px 1px 1px #666;
	}
	#navBar ul li a:active{
	    background-color: grey;
		
	}
	#navBar ul li:hover ul{
	    display: block;
	}

#prijavaCont {
	height: 240px;
	width: 200px;
	margin-right: 2%;
	margin-left: 83%;
	background-color:#FDEDD9;
	border: grey;
	display: none;
	opacity: 0.6;
	filter: alpha(opacity=60);
	position: absolute;
}
    #form p {
        display: block;
        text-align: center;
    }

    #prijavi {
        margin-top: 5%;
        margin-left: 32%;
    }


.container {
	margin-left: 1.2%;
    margin-top:2%;
    background-color: white;
    padding: 20px;
    clear: both;
    opacity: 0.6;
    filter: alpha(opacity=60);
    height: 300px;
    overflow: hidden;
    width: 45%;
    display: inline-block;
}

#Uporabnik {
    text-decoration:none;
	list-style-type: none;
    margin-left: 30px;
}
    #Uporabnik label{
		margin-top:10%;
		margin-bottom:2%;
		margin-left: 5%;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-weight: bold;
        color: black;
    }
	
input[type="submit"], #Uporabnik li a {
	margin-left: 30px;
    margin-top:10px;
    background-color: #990000;
    color: white;
    padding: 15px;
    border: none;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
	text-decoration:none;
	list-style-type: none;
}

	
	input[type="submit"]:hover, #Uporabnik li a:hover{
		background-color: grey;
		box-shadow: 1px 1px #bebebe;
		text-decoration:none;
		list-style-type: none;
	}

#background {
    margin-top: 40px;
}
#footer{
	margin-top: 7%;
	border-bottom: 1px #ccc solid;
	margin-bottom: 1%;
}
	#footer p{
		text-align: center;
		text-transform: uppercase;
		font-size: 80%;
		color: #666;
	}

#background
ul li a{ box-shadow: 0px 1px 1px #999; }