*{
    margin:0px;
    padding: 0px;
}

p{ line-height: 1em; }

h1, h2, h3, h4{
    color: #0ea7ee;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{
    font-size: 2.0em;

}
h2{
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: normal;
    margin-top:10px;
    margin-left: 25px;
    }
a{
	color: #2a103c;
	text-decoration: none;
}
	a:hover,
	a:active{
	text-decoration: underline;
	}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    width: 100%;
    margin:0;
    background: #eee;
}

#page{
margin: 20px;
}

#wrap{
    background: url(glava.png);
    height: 200px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#logo{
	width: 35%;
	margin-top: 170px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	display: inline-block;
}

#navBar{
    margin-top: 170px;
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
    #navBar ul li{
        display: inline-block;
        height: 50px;
    }
	#navBar ul li a{
	    text-decoration: none;
		padding: 15px;
		background: #2a103c;
		font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		color: white;
		transition: all 0.3s ease;
    }
	#navBar ul li a:hover{
		background-color: #695776;
		box-shadow: 0px 1px 1px #666;
	}
	#navBar ul li a:active{
	    background-color: #2a103c;
	}
	#navBar ul li:hover ul{
	    display: block;
	}

.container {
    margin: 40px 5px;
    background-color: white;
    padding: 20px;
    clear: both;
    opacity: 0.6;
    filter: alpha(opacity=60);
    height: 300px;
    overflow: hidden;
    width: 45%;
    display: inline-block;
}

.container2 {
    background-color: #2a103c;
    padding: 50px;
    opacity: 0.6;
    filter: alpha(opacity=60);
    width: 46%;
}

#navPoOpravilih {
    width: 600px;
    text-align: center;
    background-color: #767676;
    overflow: auto;
    margin:auto;
    margin-top:40px;
}
    #navPoOpravilih ul li{
        display: block;
    }
    #navPoOpravilih ul li a {
        width: 200px;
        padding: 20px 0;
        float: left;
        transition: all 0.3s ease;
        color: white;
        font-size: 15px;
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        text-decoration:none;
    }
    #navPoOpravilih ul li a:hover {
        background-color: #999999;
    }
    #navPoOpravilih ul li a:active {
        background-color: #999999;
    }

#Opravilo {
    margin-top:10px;
    margin-left: 30px;
}
    #Opravilo label{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size: 15px;
        color: #0ea7ee;
        padding: 30px;
    }

input[type="text"] {
    border: 0;
    outline: 0;
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 15px;
    background: transparent;
    border-bottom: 2px solid grey;
    margin: auto;
}

#DueDate {
     margin-top:10px;
     line-height: 25px;
     margin-left: 30px;
}
    #DueDate label{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size: 15px;
        color: #0ea7ee;
        padding: 30px;
    }

    #DueDate select{
       background: transparent;
       padding: 5px;
       font-size: 15px;
       line-height: 1;
       font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
       height: 34px;
    }

input[type="datetime-local"] {
    font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
}

#Podrocje {
    margin-top:10px;
    line-height: 25px;
    margin-left: 30px;
}
    #Podrocje label{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size: 15px;
        color: #0ea7ee;
        padding: 30px;
    }
    #Podrocje select{
       background: transparent;
       padding: 5px;
       font-size: 15px;
       line-height: 1;
       font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
       height: 34px;
       cursor:pointer;
    }

#Prioriteta {
    margin-top:10px;
    margin-left: 30px;
    line-height: 25px;
}
    #Prioriteta label {
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size: 15px;
        color: #0ea7ee;
        padding: 30px;
    }
    #Prioriteta label label{
        font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size: 15px;
        color: black;
        padding:20px;
        line-height: 25px;
    }
    #Prioriteta form{
       background: transparent;
       font-size: 15px;
       line-height: 1;
       font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
       height: 34px;
    }

#Notes {
    margin-top:10px;
    margin-left: 30px;
}
    #Notes label{
        font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-size: 15px;
        color: #0ea7ee;
        padding: 30px;
    }

input[type="button"],input[type="reset"]{
    margin-left: 60px;
    margin-top:10px;
    background-color: #2a103c;
    color: white;
    padding: 15px;
    border: none;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    transition: all 0.3s ease;
    cursor: pointer;
}
input[type="button"]:hover,input[type="reset"]:hover{
    background-color: #695776;
    box-shadow: 1px 1px #bebebe;
}


#MyTODOlist ul li{
    margin-top:10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    font-size: 15px;
    transition: 0.2s;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    list-style-type: none;
    font-weight: bold;
    color:#6a6a6a;
}
    #MyTODOlist ul li:hover{
        text-shadow: 1px 1px #bebebe;
    }

#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: center;
		text-transform: uppercase;
		font-size: 80%;
		color: #666;
	}

#background
ul li a{ box-shadow: 0px 1px 1px #999; }