*{
    margin:0px;
    padding: 0px;
}

p{ line-height: 1em; }

h1, h2, h3, h4{
    color: #0ea7ee;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1, h2, h3, h4{
    color: #0ea7ee;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{
    font-size: 2.0em;

}
h2{
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: normal;
    margin-top:10px;
    margin-left: 25px;
    }
a{
	color: #2a103c;
	text-decoration: none;
}
	a:hover,
	a:active{
	text-decoration: underline;
	}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    width: 100%;
    margin:0;
    background: #eee;
}

#page{
margin: 20px;
}

#wrap{
    background: url(glava.png);
    height: 200px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#logo{
	width: 35%;
	margin-top: 170px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	display: inline-block;
}

#navBar{
    margin-top: 170px;
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
    #navBar ul li{
        display: inline-block;
        height: 50px;
    }
	#navBar ul li a{
	    text-decoration: none;
		padding: 15px;
		background: #2a103c;
		font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		color: white;
		transition: all 0.3s ease;
    }
	#navBar ul li a:hover{
		background-color: #695776;
		box-shadow: 0px 1px 1px #666;
	}
	#navBar ul li a:active{
	    background-color: #2a103c;
	}
	#navBar ul li:hover ul{
	    display: block;
	}

.container {
    margin: 40px 5px;
    background-color: white;
    padding: 20px;
    clear: both;
    opacity: 0.6;
    filter: alpha(opacity=60);
    height: 230px;
    overflow: hidden;
    width: 45%;
    display: inline-block;
}

video {
    margin-top: 20px;
    margin: auto;
    display: block;
}

#background {
    margin-top: 40px;
}
#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: center;
		text-transform: uppercase;
		font-size: 80%;
		color: #666;
	}

#background
ul li a{ box-shadow: 0px 1px 1px #999; }