*{
    margin:0px;
    padding: 0px;
}

p{ line-height: 1em; }

h1, h2, h3, h4{
    color: #0ea7ee;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1, h2, h3, h4{
    color: #0ea7ee;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{
    font-size: 2.0em;

}
h2{
    font-size: 20px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-weight: normal;
    margin-top:10px;
    margin-left: 25px;
    }
a{
	color: #2a103c;
	text-decoration: none;
}
	a:hover,
	a:active{
	text-decoration: underline;
	}

body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    font-size: 12px;
    line-height: 1.2em;
    width: 100%;
    margin:0;
    background: #eee;
}

#page{
margin: 20px;
}

#wrap{
    background: url(glava.png);
    height: 200px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#logo{
	width: 35%;
	margin-top: 170px;
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	display: inline-block;
}

#navBar{
    margin-top: 170px;
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
    #navBar ul li{
        display: inline-block;
        height: 50px;
    }
	#navBar ul li a{
	    text-decoration: none;
		padding: 15px;
		background: #2a103c;
		font-family:Century Gothic,CenturyGothic,AppleGothic,sans-serif;
		color: white;
		transition: all 0.3s ease;
    }
	#navBar ul li a:hover{
		background-color: #695776;
		box-shadow: 0px 1px 1px #666;
	}
	#navBar ul li a:active{
	    background-color: #2a103c;
	}
	#navBar ul li:hover ul{
	    display: block;
	}


#background {
     margin: 40px 0;
     background: white;
     padding: 20px;
     clear: both;
     opacity: 0.5;
     filter: alpha(opacity=50);
}
/*
#prijava ul li{
    display: block;
    height: 62px;
}
	#prijava ul li a{
	    margin: 30px 0;
	    text-decoration: none;
	    text-align: center;
		padding: 20px;
		background: #0ea7ee;
		color: white;
    }
	#prijava ul li a:hover{
		background-color: #86d3f6;
		box-shadow: 0px 1px 1px #666;
	}
	#prijava ul li a:active{
	    background-color: #0ea7ee;
	}

#calendar {
    margin:100px auto;
    display:table;
}
    #calendar .header {
    cursor:default;
    background: #0ea7ee;
    height: 50px;
    position: relative;
    color:#fff;
    text-align: center;
    }

    #calendar .header span {
        display:inline-block;
        line-height:50px;
    }
    #calendar .header .button {
        width:24px;
        text-align:center;
        position:absolute;
    }
    #calendar .header .left.button {
        left:0;
        border-right:1px solid #0ea7ee;
    }
    #calendar .header .right.button {
        right:0;
        top:0;
        border-left:1px solid #0ea7ee;
    }
    #calendar .header .button:hover {
        background: #56c1f3;
    }
    #calendar .header .month-year {
        text-align: center;
    }
    #calendar table {
    background:#fff;
    border-collapse:collapse;
    }
    #calendar td {
        color:#2a103c;
        width:30px;
        height:30px;
        line-height:30px;
        text-align:center;
        border:1px solid #e6e6e6;
        cursor:default;
    }
    #calendar #days td {
        height:26px;
        line-height: 26px;
        font-size:90%;
        color:#666;
    }
    #calendar #days td:not(:last-child) {
        border-right:1px solid #fff;
    }
    #calendar #calendar-frame td.today {
        background:#56c1f3;
        color:#fff;
    }
    #calendar #calendar-frame td:not(.nil):hover {
        background:#e3ebef;
        color:#666666;

    }
    #calendar #calendar-frame table.current {
    float:left;
    }
    #calendar #calendar-frame table.temp {
        position:absolute;
    }
*/


#footer{
	border-bottom: 1px #ccc solid;
	margin-bottom: 10px;
}
	#footer p{
		text-align: center;
		text-transform: uppercase;
		font-size: 80%;
		color: #666;
	}

#background
ul li a{ box-shadow: 0px 1px 1px #999; }